body {
  background: #222930;
  color: #E9E9E9;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  border-bottom: #4EB1BA 3px solid;
  opacity: 0.9;
}
a:hover {
  color: #4EB1BA !important; 
}

/* SPECIAL CLASSES */
.colored-title {
  color: #4EB1BA;
}
.hide {
  opacity: 0;
}
/* --------------- */
#astronaut {
  padding: 0;
  margin: 0;
  height: 2.2rem;
}

#home-section {
  background: no-repeat url(/images/nonMac.jpeg);
  background-position:top center;
  background-size: cover;
  min-height: 700px;
  position: relative;
}
#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7)
}
#home-section .home-inner {
  margin-top: 13rem;
}

/* ADDED A STYLE TO ALL CARDS  */
.d-flex {
  justify-content: space-between;
}
.card {
  margin-top: 3rem;
}
/*  **************   */

/* WORK SECTIONS */
#work-section .card-body{
  background-color: #222930;
}


/* ABOUT SECTIONS */
#about-head-section {
  background: #4EB1BA;
  color: #E9E9E9;
}

#about-section {
  background: #222930;
  color: #4EB1BA;
}


/* ICONS STYLING */
.fab, .fas {
  padding: 2rem 0;
} 
.account-cards{
  border: 2px solid white;
  margin: 1rem;
}